#vnpt_ai_livechat_button {
  width: 62px !important;
  height: 62px !important;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  min-width: 0 !important;
  overflow: hidden !important;
  position: fixed !important;
  bottom: 25px !important;
  right: 25px !important;
  user-select: none !important;
  cursor: pointer !important;
  outline: none !important;
  background-repeat: no-repeat !important;
  background-size: 35px !important;
  background-position-x: 14px !important;
  background-position-y: 14px !important;
  /* background: linear-gradient(90deg, #6D9CCB 0%, #00AFC8 99.79%) !important; */
  background-color: #53c088;
  z-index: 2025 !important;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.16) !important;
  border-radius: 100px 100px 0px 100px !important;
}

#vnpt_ai_livechat_button img {
  width: 36px;
  height: 36px;
}

#vnpt_ai_livechat_button_dynamic {
  width: 90px !important;
  height: 90px !important;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  min-width: 0 !important;
  overflow: hidden !important;
  position: fixed !important;
  bottom: 25px !important;
  right: 25px !important;
  user-select: none !important;
  cursor: pointer !important;
  outline: none !important;
  z-index: 2025 !important;
  background: none;
}

#vnpt_ai_livechat_button_dynamic img {
  width: 45px;
  height: 90px;
}
/* @keyframes vnpt_ai_livechat_button_blink {
    0% { box-shadow: 0 5px 15px #3199B1; }
    50% { box-shadow: none; }
    100% { box-shadow: 0 5px 15px #3199B1; }
  }
  
  @-webkit-keyframes vnpt_ai_livechat_button_blink {
    0% { box-shadow: 0 5px 15px #3199B1; }
    50% { box-shadow: 0 0 0; }
    100% { box-shadow: 0 5px 15px #3199B1; }
  } */

/* #vnpt_ai_livechat_button.vnpt_ai_livechat_button_blink {
    -webkit-animation: vnpt_ai_livechat_button_blink 1.0s linear infinite;
    -moz-animation: vnpt_ai_livechat_button_blink 1.0s linear infinite;
    -ms-animation: vnpt_ai_livechat_button_blink 1.0s linear infinite;
    -o-animation: vnpt_ai_livechat_button_blink 1.0s linear infinite;
    animation: vnpt_ai_livechat_button_blink 1.0s linear infinite;
  } */
#vnpt_ai_livechat_container_iframe_sp {
  position: absolute !important;
  width: 100% !important;
  box-shadow: 0 0 1rem 0 rgb(51 51 51 / 20%);
  background-color: #F3F6F6 !important;
  border-radius: 10px !important;
  border-color: #dedede;
  bottom: 5px;
  display: none;
}
@media only screen and (max-width: 760px) {
  #vnpt_ai_livechat_button {
    bottom: 25px !important;
  }

  #vnpt_ai_livechat_display_container {
    width: 100% !important;
    height: 100% !important;
    position: fixed !important;
    z-index: 2500 !important;
    bottom: 0;
    right: 0 !important;
    /* box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12) !important; */
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff !important;
    border-radius: 10px !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    display: none;
  }
  #vnpt_ai_div_container {
    width: 100% !important;
    height: auto;
    position: fixed !important;
    z-index: 2500 !important;
    bottom: 0;
    right: 0 !important;
    /* box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12) !important; */
    /* box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1); */
    /* background-color: #ffffff !important; */
    /* border-radius: 10px !important; */
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    display: none;
  }
}

@media only screen and (min-width: 760px) and (max-height:725px) {
  #vnpt_ai_livechat_display_container {
    width: 367px !important;
    height: 576px !important;
    position: fixed !important;
    z-index: 1500 !important;
    bottom: 16px;
    right: 16px !important;
    /* box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12) !important; */
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff !important;
    border-radius: 10px !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    display: none;
    box-sizing: border-box !important;
  }
  #vnpt_ai_div_container {
    width: 367px !important;
    height: auto;
    position: fixed !important;
    z-index: 1500 !important;
    bottom: 16px;
    right: 16px !important;
    /* box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12) !important; */
    /* box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1); */
    /* background-color: #ffffff !important; */
    /* border-radius: 10px !important; */
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    box-sizing: border-box !important;
    display: none;
  }

}

@media only screen and (min-width: 760px) and (min-height: 590px) and (max-height:650px) {
  #vnpt_ai_livechat_display_container {
    width: 367px !important;
    height: 576px !important;
    position: fixed !important;
    z-index: 1500 !important;
    bottom: 16px;
    right: 16px !important;
    /* box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12) !important; */
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff !important;
    border-radius: 10px !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    display: none;
    box-sizing: border-box !important;
  }
  #vnpt_ai_div_container {
    width: 367px !important;
    height: auto;
    position: fixed !important;
    z-index: 1500 !important;
    bottom: 16px;
    right: 16px !important;
    /* box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12) !important; */
    /* box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff !important; */
    /* border-radius: 10px !important; */
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    display: none;
    box-sizing: border-box !important;
  }
}

@media only screen and (min-width: 760px) and (min-height:725px) {
  #vnpt_ai_livechat_display_container {
    width: 367px !important;
    height: 576px !important;
    position: fixed !important;
    z-index: 1500 !important;
    bottom: 16px;
    right: 16px !important;
    /* box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12) !important; */
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff !important;
    border-radius: 10px !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    display: none;
    box-sizing: border-box !important;
  }
  #vnpt_ai_div_container {
    width: 367px !important;
    height: auto;
    position: fixed !important;
    z-index: 1500 !important;
    bottom: 0;
    right: 0 !important;
    /* box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12) !important; */
    /* box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1); */
    /* background-color: #ffffff !important; */
    /* border-radius: 10px !important; */
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    box-sizing: border-box !important;
    display: none;

  }
}

@media only screen and (min-width: 375px) and (max-width: 480px) {
  #vnpt_ai_livechat_display_container {
    height: 100% !important;
  }
}
#vnpt_ai_livechat_display_container.fullscreen {
  width: 100% !important;
  height: 100% !important;
  left: 0 !important;
  top: 0 !important;
  right: auto !important;
  bottom: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  border-radius: 0 !important;
  z-index: 9999 !important;
}
/* #vnpt_ai_div_container.fullscreen {
  width: 100% !important;
  height: 100% !important;
  left: 0 !important;
  top: 0 !important;
  right: auto !important;
  bottom: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  border-radius: 0 !important;
  z-index: 9999 !important;
} */

#vnpt_ai_livechat_display_container #vnpt_ai_livechat_container_header {
  height: auto !important;
  /* cursor: pointer !important; */
  z-index: 10 !important;
  width: 100% !important;
  /* width: 100% !important; */
  top: 0 !important;
  position: absolute !important;
  padding: 9px 80px 9px 16px !important;
  color: white !important;
  font-size: 20px;
  /* margin: 0 auto 10px 0; */
  display: flex;
  align-items: center;
  float: none !important;
  /* font: bold 18px 'SF-Pro-Display-Bold' !important; */
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  /* background: url(resource\\header.png) no-repeat; */
  /* background: linear-gradient(246.7deg, #31b7b7 0.85%, #3353a2 98.94%) !important; */
  height: 48px !important;
  line-height: 80px !important;
  background-size: cover !important;
  font-family: OpenSans, sans-serif;
  font-style: normal;
  cursor: pointer;
  box-sizing: border-box !important;
}

#vnpt_ai_livechat_display_container #vnpt_ai_livechat_container_header button {
  position: absolute !important;
  right: 13px !important;
  top: 8px !important;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  background: none !important;
  cursor: pointer !important;
  line-height: 1 !important;
}

#vnpt_ai_livechat_display_container button.vnpt_ai_livechat_container_header_fullscreen_button {
  right: 45px !important;
  position: absolute !important;
  top: 26px !important;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  background: none !important;
  cursor: pointer !important;
  line-height: 1 !important;
  z-index: 99 !important;
  outline: none !important;
  box-shadow: none !important;
}

#vnpt_ai_livechat_display_container.fullscreen button.vnpt_ai_livechat_container_header_fullscreen_button {
  -webkit-transform: rotate(-180deg) !important;
  -moz-transform: rotate(-180deg) !important;
  -ms-transform: rotate(-180deg) !important;
  -o-transform: rotate(-180deg) !important;
  transform: rotate(-180deg) !important;
}

.vnpt_ai_livechat_container_header_close_button {
  outline: none !important;
  box-shadow: none !important;
  background: transparent !important;
}

#vnpt_ai_livechat_display_container #vnpt_ai_livechat_container_iframe {
  width: 100% !important;
  height: calc(100% - 43px) !important;
  position: relative !important;
  top: 48px !important;
}

.logoSvg {
  margin-right: 8px;
  width: 40px;
}

.vnpt_ai_livechat_container_header_name {
  font-size: 12px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

:root {
  --color-border-left: #CE7A58;
}

#btnBoxCompTitle.cssChatBox:after {
  content: "";
  position: absolute;
  right: -7px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid var(--color-border-left);
  top: 0;
  bottom: 0;
  margin: auto 0;
}

#btnBoxCompTitle.cssChatBox.animateOpen {
  animation: moveLeftRight 1.8s;
  -webkit-animation: moveLeftRight 1.8s;
  -moz-animation: moveLeftRight 1.8s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
}

#btnBoxCompTitle.cssChatBox {
  position: fixed;
  max-width: 320px;
  /* height: 60px; */
  right: 120px;
  bottom: 30px;
  /* background: #CE7A58; */
  box-sizing: border-box;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 11px 20px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  color: #FFFFFF;
  text-shadow: 0px 1px 0px rgba(90, 64, 64, 0.16);
  z-index: 2025;
  text-align: justify;
  cursor: pointer;
}

@keyframes moveLeftRight {
  from {
    right: 120px;
  }

  50% {
    right: 140px;
  }

  to {
    right: 120px;
  }
}